### Sales vs forecast graph

In [1]:
# 마가렛뜨 (P103021)

In [96]:
import os
import pandas as pd

import matplotlib.pyplot as plt

In [107]:
data_path = os.path.join('..', 'data')

In [108]:
sales = pd.read_csv(os.path.join(data_path, 'sales.csv'))
fcst = pd.read_csv(os.path.join(data_path, 'fcst.csv'))

In [109]:
sales.columns = [col.lower() for col in sales.columns]
fcst.columns = [col.lower() for col in fcst.columns]

### Preprocessing

In [110]:
sales = sales.rename(columns={'yymmdd': 'yy', 'sales': 'qty'})
sales = sales.rename(columns={'start_week_day': 'yymmdd'})
fcst = fcst.rename(columns={'fcst': 'qty'})
sales = sales[['cust_grp_cd', 'cust_grp_nm', 'item_attr03_nm', 'yy', 'yymmdd', 'week', 'qty']]
fcst = fcst[['cust_grp_cd', 'cust_grp_nm', 'item_attr03_nm', 'yymmdd', 'week', 'qty']]

# change data type
sales['cust_grp_cd'] = sales['cust_grp_cd'].astype(str)
sales['yy'] = sales['yy'].astype(str)

fcst['cust_grp_cd'] = fcst['cust_grp_cd'].astype(str)
fcst['yymmdd'] = fcst['yymmdd'].astype(str)

In [111]:
fcst['yy'] = fcst['yymmdd'].str.slice(0,4)
fcst = fcst[['cust_grp_cd', 'cust_grp_nm', 'item_attr03_nm', 'yy', 'yymmdd', 'week','qty']]

In [112]:
sales['yymmdd'] = pd.to_datetime(sales['yymmdd'], format='%Y%m%d')
fcst['yymmdd'] = pd.to_datetime(fcst['yymmdd'], format='%Y%m%d')

In [113]:
fcst.head(2)

  cust_grp_cd cust_grp_nm item_attr03_nm    yy     yymmdd week     qty
0        1018       강동영업소           자일리톨  2022 2022-03-28  W13  95.024
1        1018       강동영업소           자일리톨  2022 2022-04-04  W14  89.402

In [114]:
sales['label'] = 'sales'
fcst['label'] = 'fcst'

In [115]:
total = pd.concat([sales, fcst])

In [116]:
total.to_csv(os.path.join(data_path, 'total_all.csv'), index=False)