In [104]:
import os
import pandas as pd

In [105]:
data_path = os.path.join('..', '..', 'data')
sales_name = 'P103055_sales_w01_w14.csv'
fcst_name = 'P103055_fcst_w14_w15.csv'

In [106]:
sales = pd.read_csv(os.path.join(data_path, sales_name))
fcst = pd.read_csv(os.path.join(data_path, fcst_name))

sales.columns = [col.lower() for col in sales.columns]
fcst.columns = [col.lower() for col in fcst.columns]

In [107]:
sales.head(1)

   cust_grp_cd cust_grp_nm item_attr03_cd    yy week      qty
0         1033       중앙영업소        P103055  2021  W08  215.834

In [108]:
fcst.head(1)

,cust_grp_cd,cust_grp_nm,item_attr03_cd,item_attr03_nm,yymmdd,week,fcst
0,1128,진주영업소,P103055,카스타드,20220404,W14,29.391

In [109]:
#
sales['item_attr03_nm'] = '카스타드'
sales['label'] = 'sales'
sales['yymmdd'] = sales['cust_grp_cd'].astype(str)
sales['yymmdd'] = sales['yy'].astype(str)

fcst['label'] = 'fcst'
fcst['cust_grp_cd'] = fcst['cust_grp_cd'].astype(str)
fcst['yymmdd'] = fcst['yymmdd'].astype(str)
fcst['yy'] = fcst['yymmdd'].str.slice(0,4)

In [110]:
sales = sales.drop(columns=['item_attr03_cd', 'yymmdd'])
fcst = fcst.drop(columns=['item_attr03_cd', 'yymmdd'])
fcst = fcst.rename(columns={'fcst': 'qty'})

In [111]:
col = ['item_attr03_nm', 'cust_grp_nm',  'yy', 'week', 'label', 'qty']
sales = sales[col]
fcst = fcst[col]

In [112]:
merged = pd.concat([sales, fcst])

In [113]:
merged.to_csv(os.path.join(data_path, 'P103055_merged_w01_w15.csv'), index=False)